@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Список игр</h1>
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Подробнее</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Price</td>
                <td>
                    <form asp-page-handler="Details">
                        <input type="hidden" name="id" value="@game.Id" />
                        <button type="submit" class="btn btn-primary">Подробнее</button>
                    </form>
                </td>
                <td>
                    <form asp-page-handler="Delete">
                        <button type="submit" class="btn btn-primary" asp-route-id="@game.Id">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
