@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
    <caption>Список игр</caption>
    <thead>
        <tr>
            <th>Название</th> <th>Цена</th> <th>Подробнее</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model._games)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Price</td>
                <td>
                    <form asp-page="/MoreAboutGame">
                        <input type="hidden" name="id" value="@game.Id"/>
                        <button type="submit" class="btn btn-primary">Подробнее</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
